<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Neo4JExample1/src/org/neo4j/examples/astarrouting/AStarRouting.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.neo4j.examples.astarrouting.AStarRouting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Neo4JExample1"/>
</launchConfiguration>
